Flask~=3.0.3
pip~=24.3.1
typing_extensions~=4.12.2
MarkupSafe~=3.0.2
Werkzeug~=3.1.0
click~=8.1.7
Jinja2~=3.1.4
blinker~=1.8.2
itsdangerous~=2.2.0
mysql-connector-python~=9.1.0
mysql-connector~=2.2.9
mysqlclient~=2.2.5
greenlet~=3.1.1
SQLAlchemy~=2.0.36
Flask-Cors~=5.0.0